@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Baskara Software<br />
    Raniere Silva<br />
    <abbr title="Phone">(21) 99360-8264</abbr>
</address>

<address>
    <strong>Baskara Software:</strong> <a href="mailto:ranieresilva@baskarasoftware.com">ranieresilva@baskarasoftware.com</a><br />
    <strong>Como Programar Melhor:</strong> <a href="mailto:contato@comoprogramarmelhor.com.br">contato@comoprogramarmelhor.com.br</a>
</address>
